# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
.vscode/
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
nCrunchTemp_*

# Angular
/ResistorRatingCalculator.Web/dist
/ResistorRatingCalculator.Web/tmp
/ResistorRatingCalculator.Web/out-tsc
/ResistorRatingCalculator.Web/bazel-out
/ResistorRatingCalculator.Web/node_modules
/ResistorRatingCalculator.Web/npm-debug.log
/ResistorRatingCalculator.Web/yarn-error.log
/ResistorRatingCalculator.Web/.idea/
/ResistorRatingCalculator.Web/.project
/ResistorRatingCalculator.Web/.classpath
/ResistorRatingCalculator.Web/.c9/
/ResistorRatingCalculator.Web/*.launch
/ResistorRatingCalculator.Web/.settings/
/ResistorRatingCalculator.Web/*.sublime-workspace
/ResistorRatingCalculator.Web/.angular/cache
/ResistorRatingCalculator.Web/.sass-cache/
/ResistorRatingCalculator.Web/connect.lock
/ResistorRatingCalculator.Web/coverage
/ResistorRatingCalculator.Web/libpeerconnection.log
/ResistorRatingCalculator.Web/testem.log
/ResistorRatingCalculator.Web/typings

# e2e
/ResistorRatingCalculator.Web/e2e/*.js
/ResistorRatingCalculator.Web/e2e/*.map

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

# NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# User-specific files
*.rsuser
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Rider
.idea/

# Test Results
TestResults/