name: .NET Build and Test

on:
  push:
    branches: [ "upgrade-angular-dotnet" ]
    paths:
      - 'ResistorRating.Api/**'
      - 'ResistorRating.Library/**'
      - 'ResistorRating.Test/**'
      - '**.sln'
  pull_request:
    branches: [ "upgrade-angular-dotnet" ]
    paths:
      - 'ResistorRating.Api/**'
      - 'ResistorRating.Library/**'
      - 'ResistorRating.Test/**'
      - '**.sln'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --verbosity normal